**/.git
**/.gitignore
**/.gitmodules
**/*.md
**/LICENSE

# User-specific files
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates

# Build results
app/[Dd]ebug/
app/[Dd]ebugPublic/
app/[Rr]elease/
app/[Rr]eleases/
app/x64/
app/x86/
app/build/
app/bld/
app/[Bb]in/
app/[Oo]bj/
app/[Oo]ut/
app/msbuild.log
app/msbuild.err
app/msbuild.wrn
